<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout.html}"
>
<head>
    <title>Trang chủ Admin</title>
</head>

<body>
<section layout:fragment="content">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Xin chào Admin!</h4>
        <p>Đây là trang Dashboard được dựng bằng Thymeleaf Layout Dialect.</p>
        <hr>
        <p class="mb-0">Hệ thống đã sẵn sàng để code chức năng Quản lý Category.</p>
    </div>
</section>
</body>
</html>
